<!DOCTYPE html>
<html lang="en"><head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>江湖在喝酒的路上</title>
		<meta name="description" content="Cheng Yichao's Weblog">
		<meta name="author" content="Cheng Yichao">

		<link href="/index_files/style.css" rel="stylesheet" type="text/css" media="all">
		<link href="/index_files/code.css" rel="stylesheet" type="text/css" media="all">
		<link rel="shortcut icon" href="http://blog.chengyichao.info/favicon.ico" type="image/x-icon">
		<link href="/index_files/css.css" rel="stylesheet" type="text/css">
	</head>

	<body>    

		<div class="container">
			<div id="navs">
				<ul>              
					<li><a href="http://jack-zh.github.io">江湖</a></li>
					<li><a href="http://jack-zh.github.io">关于</a></li>
				</ul>

				<ul class="contact">
					<li><a target="_blank" href="http://jack-zh.github.com/link-pub">link-pub</a></li>
					<li><a target="_blank" href="http://jack-zh.github.com/simple-cli">simple-cli</a></li>
					<li><a target="_blank" href="http://jack-zh.github.com/yaml-cli">ymal-cli</a></li>
					<li><a target="_blank" href="http://jack-zh.github.com/Qcloud">Qcloud</a></li>
					<br>
					<li>
					<a href="mailto:zzh.coder@gmail.com">Email |</a>
					<a href="http://weibo.com/u/3557839124">Weibo |</a>
					<a href="#" title="715443050">QQ</a>
					</li>
				</ul>
			</div>
                                {{ content }}
			<ul class="chaos">
                {% for post in site.posts %}
                <li><a  title="{{ post.author }}" class="title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>  <span class="time"> {{ post.date | date_to_string }} </span>   </li>
				{% endfor %}
			</ul>
		</div>
	</body>
</html>
