<!DOCTYPE html>
<html lang="en"><head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>江湖在喝酒的路上</title>
		<meta name="description" content="Cheng Yichao's Weblog">
		<meta name="author" content="Cheng Yichao">

		<link href="/index_files/style.css" rel="stylesheet" type="text/css" media="all">
		<link href="/index_files/code.css" rel="stylesheet" type="text/css" media="all">
		<link rel="shortcut icon" href="http://blog.chengyichao.info/favicon.ico" type="image/x-icon">
		<link href="/index_files/css.css" rel="stylesheet" type="text/css">
	</head>

	<body>    

		<div class="container">
			<div id="navs">
				<ul>              
					<li><a href="http://jack-zh.github.io">Neverland</a></li>
					<br>
					<br>
					<li><a href="http://jack-zh.github.io">archive</a></li>
					<li><a href="http://jack-zh.github.io">quotes</a></li>
				</ul>

				<ul class="contact">
					<li>
					<a href="mailto:zzh.coder@gmail.com">Email |</a>
					<a href="http://jack-zh.github.io">Twitter |</a>
					<a href="http://jackzh.github.io">Weibo</a>

					</li>
				</ul>
			</div>
                                {{ content }}
			<ul class="chaos">
				<li><a class="title" href="http://blog.chengyichao.info/2013/06/20/dreamsome">Dreamsome.org</a><span class="time">13-06-20</span></li>
                {% for post in site.posts %} {% if post.layout == "default" %}
                <li><a  title="{{ post.author }}" class="title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>  <span> {{ post.data | data_to_lang_string }} </span>   </li>
				{% endif %} {% endfor %}
			</ul>
		</div>
	</body>
</html>
